<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${aaa}">
    <p th:text="${aaa}">
    <p th:text="${aaa}">
    <p th:text="${aaa}">
</body>
</html>