<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>SS</title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">Share snickers</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user">User Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/leaderboards">Leaderboards</a>
                  </li>
                </ul>

                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <br>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-10 bg-white">
                    <h5>Top givers</h5>
                    <table class="table table-light table-striped">
                        <thead class="thead-light">
                          <tr>
                              <th scope="col">Position</th>
                              <th scope="col">Name</th>
                              <th scope="col">Shared</th>
                              <th scope="col">Received</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${shared_users}">
                            <th scope="row" th:text="${user.getFirst()}" />
                            <td th:text="${user.getSecond().getUsername()}" />
                            <td th:text="${user.getSecond().getSharedAmount()}" />
                            <td th:text="${user.getSecond().getReceivedAmount()}" />
                        </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <br>
        <br>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-10 bg-white">
                    <h5>Top receivers</h5>
                    <table class="table table-light table-striped">
                        <thead class="thead-light">
                          <tr>
                              <th scope="col">Position</th>
                              <th scope="col">Name</th>
                              <th scope="col">Received</th>
                              <th scope="col">Shared</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${received_users}">
                            <th scope="row" th:text="${user.getFirst()}" />
                            <td th:text="${user.getSecond().getUsername()}" />
                            <td th:text="${user.getSecond().getReceivedAmount()}" />
                            <td th:text="${user.getSecond().getSharedAmount()}" />
                        </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>