<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>SS</title>
</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Share snickers</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/user">User Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/leaderboards">Leaderboards</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav d-flex">
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    <br>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-10 bg-white">
                    <h5>User info</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Name:</b> <span th:text="${user.getName()}"></span> </li>
                        <li class="list-group-item"><b>Phone number:</b> <span th:text="${user.getPhoneNumber()}"></span></li>
                        <li class="list-group-item"><b>Email:</b> <span th:text="${user.getEmail()}"></span></li>
                        <li class="list-group-item"><b>City:</b> <span th:text="${user.getCity()}"></span></li>
                        <li class="list-group-item"><b>Shared Amount:</b> <span th:text="${user.getSharedAmount()}"></span></li>
                        <li class="list-group-item"><b>Received Amount:</b> <span th:text="${user.getReceivedAmount()}"></span></li>
                    </ul>

                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Update data
                    </button>
                </div>
                <div class="col-1"></div>
    </section>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/user/updateData">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="nameInput" name="name" th:value="${user.getName()}">
                    </div>
                    <div class="mb-3">
                        <label for="cityInput" class="form-label">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city" th:value="${user.getCity()}">
                    </div>
                    <div class="mb-3">
                        <label for="pnInput" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="pnInput" name="phone_number" th:value="${user.getPhoneNumber()}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
    </body>
</html>